version: "3"
services:
  ds-fis-container:
    # Don't remove/change docker image version (used in CI)
    image: "ghcr.io/pcps/dsfisproxyapp:1.1.4"
    environment:
      - NODE_ENV=production
    logging:
      driver: syslog
      options:
        syslog-facility: "local3"
        tag: "DSFisDockerContainer"

  flow-container:
    image: "ghcr.io/pcps/flowdeviceverification-amd64:6.4.402"
    environment:
      - mqttBrokerAddress=flecs-mqtt
      - appIdOTConnector=urn:endress.com/DSFISProxy/nd/202006260900
      - serialNumber=713814705
      - encryptionEnabled=false
      - logLevel=debug
    logging:
      driver: syslog
      options:
        syslog-facility: "local3"
        tag: "FlowDockerContainer"

networks:
  default:
    external: true
    name: flecs
